<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns     = "http://www.w3.org/ns/widgets"

        xmlns:gap = "http://phonegap.com/ns/1.0"

        id        = "com.ScottishArchaeology.app"

        version   = "3.1.0">

    <name>ScottishArchaeology</name>



    <description>Scottish Archaeology seeks to encourage interest and knowledge of regional archaeology and to enable the appreciation, value and care of Scotland's unique historic environment and legacy for the benefit of present and future generations.</description>

    <access origin="*" />

    <author href="http://phonegap.com" email="support@phonegap.com">

        PhoneGap Team

    </author>



    <feature name="http://api.phonegap.com/1.0/device" />



    <!-- 

    <preference name="phonegap-version" value="2.1.0" />

    -->

    <preference name="orientation"      value="default" />

    <preference name="target-device"    value="universal" />

    <preference name="fullscreen"       value="true" />



    <icon src="icon.png" />

    <gap:splash src="splash.png" />

    

    <gap:platform name="ios" />

    <gap:platform name="android" />

    <gap:plugin name="com.phonegap.plugins.pushplugin" />



	

</widget>


